body {
    margin:0px;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.qr_code {
    border-radius: 15px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    margin: 120px 35px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.qr_code h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color:hsl(218, 44%, 22%);
}
.qr_code p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin: 16px 10px 25px 10px;
}
@media (min-width: 1440px) {
    .qr_code {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

}